body {
    background-color: lightblue;
}
* {
  font-family: sans-serif;  
}
h1 {
    color: navy;
    margin-left: 20px;
}
h2 {
    color: navy;
    margin-left: 20px;
}
p {
  margin-left: 30px;
}
section {
  margin-left: 30px;
  
}
img {
    display: block;
    margin: auto;
    width: 50%;
    border:1px solid;
    border-color: cadetblue;
    padding: 1px;
}
figcaption {
    padding-top: 5px;
    text-align:center;
}
ul  {
    border: 1px solid black;
    margin:-left: 30px;
    list-style-position: inside;
    list-style-type: lower-alpha;
    padding: 6px;
}